
/* Full Page CSS INSIDE Media Queries */


/* Details Page CSS */
.details-container
{
    display: grid;
    grid-template-columns: repeat(5, 110px);
    grid-template-rows: repeat(5, 110px);
    grid-template-areas: 
      "img img img img img"
      "title title title title title"
      "glass glass mix mix mix"
      "ingrD ingrD mix mix mix"
      "ingrD ingrD mix mix mix";
    width: 550px;
    min-width: 550px;
    height: 550px;
    margin: auto;
    background-color: black;
    margin-bottom: 50px;
    transition: all .25s ease-in-out;

}

.details-container img
{
  opacity: 50%;
  transition: opacity .5s;
}

.details-container img
{
  height: 550px;
  width: 550px;
  grid-area: img;
}

.detailList
{
  list-style-type: none;
}

.detailItems
{
  margin: 35px 0 0 10px;
  padding-left: 25px;
}

.drinkTitle
{
  font-size: 48px;
  padding-left: 25px;
  margin: 0;
  margin-top: -75px;
  grid-area: title;
  min-width: 400px;
  z-index: 1;
}

.drinkGlass
{
  max-height: 100px;
  width: 170px;
  margin: 0;
  margin-top: -75px;
  padding-left: 25px;
  grid-area: glass;
  z-index: 1;
}

.drinkGlass h4
{
  margin: 0;
}

/* Ingredients */
.ingredientList
{
  align-items: center;
  margin: auto;
  margin-top: -100px;
  padding-left: 25px;
  grid-area: ingrD;
  min-width: 270px;
  z-index: 1;
}

.ingredientList ul
{
  display: inline-flexbox;
}

.ingredientList h4
{
  margin: 0;
}

/* Instructions */

.mixingInstructions
{
  max-width: 250px;
  margin-top: -96px;
  margin-bottom: 25px;
  margin-right: 20px;
  padding-left: 70px;
  grid-area: mix;
  z-index: 1;
}

.mixingInstructions p
{
  max-height: 150px;
  /* text-overflow: ellipsis;
  overflow: hidden; */
}

/* Back Button */
.detailsBack i
{
  margin-right: 15px;
  margin-bottom: 2px;
}

.detailsBack a
{
  text-align: center;
  color: var(--yellow);
  text-decoration: none;
  filter: brightness(100%);
  transition: filter .5s;
}

.detailsBack a:hover
{
  filter: brightness(120%)
}

.backLink
{
  margin-left: 50px;
  margin-top: 20px;
  text-decoration: none;
  color: var(--yellow);
  height: 5px;
  width: 5px;
  border: solid var(--yellow);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* Media Queries (Full Page Default Inside) */
@media only screen and (min-width: 900px)
{
  .details-container
  {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 550px repeat(4, 1fr);
    grid-template-rows: repeat(5, 110px);
    grid-template-areas: 
      "img title mix mix"
      "img glass mix mix"
      "img ingrD mix mix"
      "img ingrD mix mix"
      "img ingrD mix mix";
    background-color: var(--grey);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: 1000px;
    width: 94%;
    height: 550px;
    max-height: 100%;
    /* overflow: hidden; */
    margin-top: 50px;
    margin-left: 50px;
  }

  .details-container img
  {
    grid-area: img;
    opacity: 100%;
  }

  /* .details-container:hover
  {
    opacity: 100%;
  } */

  .drinkTitle
  {
    grid-area: title;
    margin: 0;
  }

  .drinkGlass
  {
    grid-area: glass;
    margin: 0;
  }

  .drinkGlass h4
  {
    margin: 0;
  }

  .ingredientList
  {
    list-style-type: none;
    display: block;
    grid-area: ingrD;
    margin-left: -15px;
    margin: 0;
  }
  
  .mixingInstructions
  {
    grid-area: mix;
    margin-top: -81px;
    max-width: 500px;
  }
}
