/* Details Page CSS */
.details-container
{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--grey);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 1000px;
  width: 94%;
  height: 550px;
  margin-top: 50px;
  margin-left: 50px;
}

@media only screen and (max-width: 1000px)
{
  .details-container
  {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 550px;
    min-width: 550px;
    height: 550px;
    background-color: black;
    margin-bottom: 50px;
  }
  .details-container img
  {
    opacity: 100%;
    transition: opacity .5s;
  }
  .details-container img:hover{
    opacity: 50%;
  }
  .div1
  {
    grid-area: 1 / 1 / 3 / 5;
  }
  .drinkTitle
  {
    grid-area: 3 / 1 / 4 / 5;
  }
  .drinkGlass
  {
    grid-area: 4 / 1 / 5 / 2;
  }
  .ingredientList
  {
    grid-area: 5 / 1 / 7 / 2;
  }
  .mixingInstructions
  {
    grid-area: 4 / 2 / 7 / 5;
  }
}

.backLink
{
  margin-left: 50px;
  margin-top: 20px;
  text-decoration: none;
  color: var(--yellow);
  height: 5px;
  width: 5px;
  border: solid var(--yellow);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.backLink:hover
{
  color: var(--light-color);
}

.details-container img
{
  height: 550px;
  width: 550px;
  grid-area: 1 / 1 / 5 / 3;
}

.detailList
{
  list-style-type: none;
}

.detailItems
{
  margin: 35px 0 0 10px;
  padding: 5px;
}

.drinkTitle
{
  font-size: 48px;
  padding: 5px;
  margin: 0;
  grid-area: 1 / 3 / 2 / 7;
  grid-row-end: 1;
  min-width: 400px;
}

.drinkGlass
{
  flex-direction: column;
  justify-content: top;
  max-height: 100px;
  width: 170px;
  margin: 0;
  padding: 5px;
  grid-area: 2 / 3 / 3 / 4;
}

.ingredientList
{
  /* background-color: #5f4c4c; */
  margin: 0;
  margin-left: 5px;
  grid-area: 3 / 3 / 5 / 4;
}
.ingredientList h4
{
  margin: 0;
}

.mixingInstructions
{
  margin-bottom: 25px;
  margin-right: 20px;
  padding: 5px;
  grid-area: 2 / 4 / 5 / 7;
}

.detailsBack i
{
  margin-right: 15px;
  margin-bottom: 2px;
}
.detailsBack a
{
  text-align: center;
  color: var(--yellow);
  text-decoration: none;
  filter: brightness(100%);
  transition: filter .5s;
}

.detailsBack a:hover
{
  filter: brightness(120%)
}