.App {
  display: grid;
  text-align: center;
  background-color: #1a214d;
}
.container {

}

header {
  background: #1a214d;
  color: white;
  padding: 1rem;
  height: 30px;
}
h1 {
  font-family: 'Monaco', monospace;
  font-weight: 300;
  margin: 0;
  display: inline-block;
}
header a {
  color:white;
  text-decoration: none;
}
input {
  background-color: #2f3541;
  border: 5px;
}

.searchNav {
  background-color: #3b4a69;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}