
.header {
  display: flex;
  font-family: 'Maven Pro', sans-serif;
  font-size: 32px;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: rgb(47,38,38);
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
}
.header a {
  margin: 10px 0 0 10px;
  color:	#c5aa6a;
  text-decoration: none;
}
.header input {
  height: 16px;
  margin-top: 15px;
}

/* Home Page CSS */
.container{
  display: grid;
  font-family: 'Maven Pro', sans-serif;
  color: #c5aa6a;
}
.homeContainer{
  width: 100%;
  height: 900px;
  background: black;
  overflow: hidden;
  box-shadow: rgba(8, 8, 8, 0.596) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.homeContainer h1 {
  color: whitesmoke;
  margin: 0;
  font-size: 128px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.homeContainer img {
  height: 900px;
  width: 100%;
  opacity: 0.5;
}
.homeContainer a{
  display: flex;
  border: solid;
  padding: 0px 15px 0px 15px;
  justify-content: center;
  align-content: center;
  color: white;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
}
.searchName{
  background: none;
  color: #c5aa6a;
  border-color: #c5aa6a;
  cursor: pointer;
}
.searchBase{
  background: none;
  color: #c5aa6a;
  border-color: #c5aa6a;
  cursor: pointer;
}